/* language: scss */

// Color Variables
$primary-color: yellowgreen;

// Button Variables
$btn-color: gray;
$btn-hover-color: rgba(195, 234, 109, 0.7);

// Graphite Color Variable
$graphite-color: rgb(30, 30, 30);