/* language: scss */

// Main Font 
@font-face {
    font-family: "CustomFont";
    src: url('/assets/OldSchoolAdventures-42j9.ttf') format('truetype');
}

$custom-font-family: "CustomFont";

@mixin font-properties {
    font-family: "CustomFont", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
