@font-face {
    font-family: 'CustomFont';
    src: url('./assets/OldSchoolAdventures-42j9.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dad8d8;
    font-family: 'CustomFont', Arial, sans-serif;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: gray;
    border-radius: 25px;
    align-items: center;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

button:hover {
    background-color: rgba(195, 234, 109, 0.7)
    }
    
button:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
                    inset 2px 2px 3px rgba(0,0,0,0.5) 
    }
    
#splashPage {
    position: absolute;
    width: 965px;
    height: 530px;
    background-color: yellowgreen;
    border: 1px solid rgb(113, 155, 52);
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

#splashPage img {
    margin-top: 10px;
    height: 420px;
    width: 430px;
}

#instructionManual {
    position: absolute;
    width: 965px;
    height: 530px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.gameElements {
    background-image: url(./assets/bg.png);
    height: 500px;
    width: 330px;
    margin-top: 20px;
    align-items: center; 
    justify-content: center;
    border: solid gold 3px;
}

.skill {
    width: 30px; 
    height: 260px;
    left: 150px;
    margin-top: 10px;
    position: relative;
}

#skillValue {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 1px;
    background-color:rgba(195, 234, 109, 0.7);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.16s ease-in-out;
    z-index: 1;
}


#clickArea {
    position: absolute;
    left: 222px;
    margin-top: 0px;
    height: 190px;
    width: 60px;
    z-index: 2;
}


#goButton {
    left: -70px;
    margin-top: -10px;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 25px;
    align-items: center;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 14px;
}

#goButton:hover {
background-color: rgba(195, 234, 109, 0.7)
}

#goButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
                inset 2px 2px 3px rgba(0,0,0,0.5) 
}

.instructions {
    width: 275px;
    padding: 10px;
    background-color: gray;
    border-radius: 25px;
    font-weight: bold;
    font-size: 11px;
    margin: 20px;
}

.gameContainer {
    position: relative;
    width: 620px;
    height: 500px;
    margin-top: 20px;
    border-style: solid;
    background-image: url(./assets/bg.png);
}

#mechPen { 
    position: relative; 
    margin-left: 150px; 
    left: 0;
    z-index: 1;
}

#woodPen {
    position: absolute;
    top: 0px; 
    margin-left: calc(54% + 0px);
    left: 0; 
    z-index: 1;
}

#playerPencilLead {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    transition: height 0.2s ease-in-out;
    margin-left: calc(40% + 3px);
    top: 186px;
}

#cpuPencilLead {
    position: absolute;
    top: 186px;
    width: 3px;
    height: 0px;
    background-color: black;
    transition: height 300ms linear;
    margin-left: calc(69% + 1px);
}

#finish-line {
    position: fixed;
    width: 620px;
    height: 3px;
    background-color: greenyellow;
    transform: translate(0, 40%);
    display: none;

}

#win-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: green;
    display: none;
}

#lose-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    display: none;
}

#timeout-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    display: none;
}

#resetButton {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 800px;
    background-color: aqua;
    z-index: -1;
}