@font-face {
    font-family: 'CustomFont';
    src: url('./assets/OldSchoolAdventures-42j9.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dad8d8;
    font-family: 'CustomFont', Arial, sans-serif;
}

.splash-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.continue-button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: gray;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.booty-cant-be-contained {
    background-color: teal;
    height: 500px;
    width: 330px;
    margin-top: 20px;
}

#extend-button {
    top: 10%;
    left: 25%;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin: 20px;
}

.instructions {
    width: 275px;
    padding: 10px;
    background-color: gray;
    border-radius: 25px;
    font-weight: bold;
    font-size: 11px;
    margin: 20px;
}

.game-container {
    position: relative;
    width: 620px;
    height: 500px;
    margin-top: 20px;
    border-style: solid;
    background-color: white;
}

#mechPen { 
    position: relative; 
    margin-left: 37%; 
    left: 0;
    z-index: 1;

}

#woodPen {
    position: absolute; 
    margin-left: calc(57% + 1px);
    left: 0; 
    z-index: 1;
}

#pencil-lead {
    position: absolute;
    width: 2px;
    height: 3px;
    background-color: black;
    transition: height 0.2s ease-in-out;
    margin-left: 49.8%;
    top: 115px;
}

#computer-pencil {
    position: absolute;
    top: 116px;
    width: 2px;
    height: 0px;
    background-color: black;
    transition: height 300ms linear;
    margin-left: 70%
}

#finish-line {
    position: fixed;
    width: 620px;
    height: 3px;
    background-color: greenyellow;
    transform: translate(0, 40%);
}


#win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: green;
    display: none;
}

#lose-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    display: none;
}

#reset-button {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
